name: Build POS Apps
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install --force
      - run: npm run build
      - run: npx electron-builder --win --portable
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: |
          npm install @capacitor/android
          npx cap add android || true
          npx cap sync
          cd android
          ./gradlew assembleDebug
      - uses: actions/upload-artifact@v4
        with:
          name: My-POS-Apps
          path: |
            dist/*.exe
            android/app/build/outputs/apk/debug/app-debug.apk
